@media (min-width: 1000px) {
    .ct-san-pham .info {
        padding-left: 10px;
    }
    .product-item img{
        height: 200px;
    }
    .product-item{
        height: 300px;
    }
    .san-pham-moi .product-item img{
        height: 250px;
    }
    .san-pham-moi .product-item{
        height: 350px;
    }
}

@media (max-width: 1200px) {
    .navigation ul li a {
        padding: 16px 13px;
    }
    .cua-hang-item img,
    .ct-cua-hang img {
        width: 100%;
    }
}

@media (max-width: 990px) {
    .navigation {
        display: none;
    }
    .mobile-btn {
        display: block;
    }
    .logo img {}
}

@media (max-width: 768px) {
    .cua-hang,
    .copyright {
        text-align: center;
    }
    section.copyright .right {
        padding-top: 15px;
        text-align: center;
    }
    .hotline {
        display: none;
    }
    section.top-menu .text-left,
    section.top-menu .text-right,
    section.top-menu .text-center {
        text-align: center;
        padding: 5px 0;
    }
    .cua-hang h2 {
    }
}

@media (max-width: 480px) {
    .top-search-panel {
        text-align: center;
    }
    .top-search {
        display: inline-block;
    }
    .footer-info img {
        width: 100%;
    }
    .category-product>li>ul {
        position: static;
        display: block;
        margin-bottom: 20px;
        width: 100%;
    }
}

@media (max-width: 320px) {}
