.has-error input{
  border: solid 1px #ff4c4c;
}
.alert{
	margin-left:0px;
}
.no-image{
	max-width: 240px;
	/*width: 100%;*/
	display: block;
}
.form-group >img,.ad-detail >img{
	width: 220px;
	display: block;
	padding-bottom: 20px;
}
.form-radio>label{
	font-weight: normal;
}
.detail-content label{
	padding: 15px;
	background: #ddd;
	display: block;
}
.detail-content .form-group{
	background: #eee;
	padding: 15px;
}
.ms-container{
	width: inherit;
}