<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->

<head>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <meta charset="UTF-8" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="stylesheet" type="text/css" media="all" href="css/style.css" />
    <link rel="pingback" href="http://kinh365.com/xmlrpc.php" />
    <!-- This site is optimized with the Yoast WordPress SEO plugin v2.1.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Mắt Kính Hàng Hiệu - Kính Thời Trang - Gọng Kính Cận</title>
    <meta name="description" content="Bán buôn, bán lẻ mắt kính thời trang hàng hiệu, mắt kính chính hãng, gọng kính cận, gọng kính thời trang." />
    <link rel="canonical" href="http://kinh365.com" />
    <link rel="next" href="http://kinh365.com/page/2/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mắt Kính Hàng Hiệu - Kính Thời Trang - Gọng Kính Cận" />
    <meta property="og:description" content="Bán buôn, bán lẻ mắt kính thời trang hàng hiệu, mắt kính chính hãng, gọng kính cận, gọng kính thời trang." />
    <meta property="og:url" content="http://kinh365.com" />
    <meta property="og:site_name" content="Kinh365.com" />
    <link rel='stylesheet' id='weptile-image-slider-widget-css' href='/css/weptile-image-slider-widget.css?ver=4.2.2' type='text/css' media='all' />
    <link rel='stylesheet' id='weptile-image-slider-widget-nivo-slider-css' href='css/nivo-slider.css?ver=4.2.2' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-pagenavi-css' href='css/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
    <script type='text/javascript' src='js/jquery.js?ver=1.11.2'></script>
    <script type='text/javascript' src='js/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='js/weptile-image-slider-widget.js?ver=4.2.2'></script>
    <script type='text/javascript' src='js/jquery.nivo.slider.pack.js?ver=4.2.2'></script>
    <style type="text/css">
    .recentcomments a {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    </style>
</head>

<body class="single single-post postid-3584 single-format-standard singular two-column right-sidebar">
    <div id="page" class="hfeed">
        <div class="global-navigation">
            <a href="http://www.facebook.com/kinh365" target="blank"><span>Đặt hàng: 0993.365.365 - 0995.365.365</span></a>
            <a href="http://kinh365.com/huong-dan-mua-hang/">Hướng dẫn mua hàng</a>
            <a class="support" href="http://facebook.com/nuhoangkinh1991">1D Quốc Tử Giám, HN - 169 Phạm Hữu Lầu, Q7, HCM</a>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <header id="branding" role="banner">
            <hgroup id="logo">
                <h1>
                <a href="http://kinh365.com/" title="Kinh365.com" rel="home">
                Kinh365.com                </a>
                </h1>
            </hgroup>
            <form method="get" id="searchform" action="http://kinh365.com/">
                <label for="s" class="assistive-text">Nhập tên hoặc mã sản phẩm</label>
                <input type="text" class="field" name="s" id="s" placeholder="Nhập tên hoặc mã sản phẩm" />
                <input type="submit" class="submit" name="submit" id="searchsubmit" value="Nhập tên hoặc mã sản phẩm" />
            </form>
            <nav id="access" role="navigation">
                <h3 class="assistive-text">Main menu</h3>
                <div class="skip-link"><a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a></div>
                <div class="skip-link"><a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a></div>
                <div class="menu-menu-container">
                    <ul id="menu-menu" class="menu">
                        <li id="menu-item-4" class="nu-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4"><a href="http://kinh365.com/category/kinh-thoi-trang-nu">Thương hiệu</a>
                            <ul class="sub-menu">
                                <li id="menu-item-3225" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3225"><a href="http://kinh365.com/kinh-chanel-2/">Chanel</a></li>
                                <li id="menu-item-3223" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3223"><a href="http://kinh365.com/kinh-cartier/">Cartier</a></li>
                                <li id="menu-item-3236" class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-3236"><a href="http://kinh365.com/kinh-dior/">Christian Dior</a></li>
                                <li id="menu-item-3245" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3245"><a href="http://kinh365.com/kinh-miu-miu-2/">Miu Miu</a></li>
                                <li id="menu-item-3244" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3244"><a href="http://kinh365.com/kinh-marc-jacobs-2/">Marc Jacobs</a></li>
                                <li id="menu-item-3224" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3224"><a href="http://kinh365.com/kinh-celine/">Celine</a></li>
                                <li id="menu-item-3235" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3235"><a href="http://kinh365.com/kinh-chrome-heart/">Chrome Hearts</a></li>
                                <li id="menu-item-3243" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3243"><a href="http://kinh365.com/kinh-lv-2/">Louis Vuitton</a></li>
                                <li id="menu-item-3222" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3222"><a href="http://kinh365.com/kinh-burberry/">Burberry</a></li>
                                <li id="menu-item-3248" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3248"><a href="http://kinh365.com/kinh-rayban-2/">Rayban</a></li>
                                <li id="menu-item-3247" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3247"><a href="http://kinh365.com/kinh-prada/">Prada</a></li>
                                <li id="menu-item-3238" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3238"><a href="http://kinh365.com/kinh-gentlemonster/">Gentle Monster</a></li>
                                <li id="menu-item-3226" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3226"><a href="http://kinh365.com/kinh-chloe/">Chloe</a></li>
                                <li id="menu-item-3239" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3239"><a href="http://kinh365.com/kinh-gucci-2/">Gucci</a></li>
                                <li id="menu-item-3237" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3237"><a href="http://kinh365.com/kinh-dolce-gabbana/">Dolce &#038; Gabbana</a></li>
                                <li id="menu-item-3254" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3254"><a href="http://kinh365.com/thuong-hieu-khac/">Thương hiệu khác</a></li>
                            </ul>
                        </li>
                        <li id="menu-item-1867" class="fee-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-1867"><a href="http://kinh365.com/phan-hoi-tu-khach-hang/">Khách hàng Feedback</a></li>
                        <li id="menu-item-6266" class="fee-nav menu-item menu-item-type-post_type menu-item-object-page menu-item-6266"><a href="http://kinh365.com/album-khach-hang/">Album khách hàng</a></li>
                        <li id="menu-item-3227" class="fee-nav menu-item menu-item-type-taxonomy menu-item-object-category menu-item-3227"><a href="http://kinh365.com/blog/">Tư vấn chọn kính</a></li>
                        <li id="menu-item-6741" class="fee-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-6741"><a href="http://facebook.com/kinh365">FACEBOOK</a></li>
                    </ul>
                </div>
            </nav>
            <!-- #access -->
        </header>
        <!-- #branding -->
        <div id="main">
            <div id="primary">
                <div id="content" role="main">
                    <div class="entry-meta">
                        <a href="index.html">Trang chủ</a> | <a href="http://kinh365.com/kinh-dior/" rel="category tag">Kính Dior nữ</a>, <a href="http://kinh365.com/kinh-thoi-trang-nu/" rel="category tag">Kính thời trang nữ</a> | <a href="http://kinh365.com/tag/kinh-dior-toc-tien/" rel="tag">Kính dior tóc tiên</a>, <a href="http://kinh365.com/tag/kinh-mat-meo/" rel="tag">kính mắt mèo</a>, <a href="http://kinh365.com/tag/kinh-nu-2014/" rel="tag">kính nữ 2014</a>, <a href="http://kinh365.com/tag/kinh-nu-hot/" rel="tag">kính nữ hot</a>, <a href="http://kinh365.com/tag/kinh-toc-tien/" rel="tag">kính Tóc Tiên</a> </div>
                    <!-- .entry-meta -->
                    <article id="post-3584" class="post-3584 post type-post status-publish format-standard has-post-thumbnail hentry category-kinh-dior category-kinh-thoi-trang-nu tag-kinh-dior-toc-tien tag-kinh-mat-meo tag-kinh-nu-2014 tag-kinh-nu-hot tag-kinh-toc-tien">
                        <div class="entry-content">
                            <script src="http://kinh365.com/wp-content/themes/taylorvn/js/jquery-1.6.js" type="text/javascript"></script>
                            <script src="http://kinh365.com/wp-content/themes/taylorvn/js/jquery.jqzoom-core.js" type="text/javascript"></script>
                            <link rel="stylesheet" href="http://kinh365.com/wp-content/themes/taylorvn/css/jquery.jqzoom.css" type="text/css" />
                            <script type="text/javascript">
                            $(document).ready(function() {
                                $('.jqzoom').jqzoom({
                                    zoomType: 'standard',
                                    lens: true,
                                    preloadImages: false,
                                    alwaysOn: false
                                });

                            });
                            </script>
                            <div class="clearfix" id="imgzoom">
                                <div class="clearfix">
                                    <a class="jqzoom" rel='gal1' href="http://kinh365.com/wp-content/uploads/2015/03/P4221145.jpg" title="Kính Dior Tóc Tiên MS018"><img width="350" height="233" src="http://kinh365.com/wp-content/uploads/2015/03/P4221145-350x233.jpg" class="myImgs wp-post-image" alt="OLYMPUS DIGITAL CAMERA" /></a>
                                </div>
                                <div class="clearfix">
                                    <ul id="thumblist" class="clearfix">
                                        <li>
                                            <a href='javascript:void(0);' rel="{gallery: 'gal1', 
        smallimage: 'http://kinh365.com/wp-content/uploads/2015/03/mat-kinh-dior-toc-tien-350x234.jpg', 
        largeimage: 'http://kinh365.com/wp-content/uploads/2015/03/mat-kinh-dior-toc-tien.jpg'}">
                                                <img src="http://kinh365.com/wp-content/uploads/2015/03/mat-kinh-dior-toc-tien-85x57.jpg" width="96" height="64" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href='javascript:void(0);' rel="{gallery: 'gal1', 
        smallimage: 'http://kinh365.com/wp-content/uploads/2015/03/P4221145-350x233.jpg', 
        largeimage: 'http://kinh365.com/wp-content/uploads/2015/03/P4221145.jpg'}">
                                                <img src="http://kinh365.com/wp-content/uploads/2015/03/P4221145-85x57.jpg" width="96" height="64" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href='javascript:void(0);' rel="{gallery: 'gal1', 
        smallimage: 'http://kinh365.com/wp-content/uploads/2015/03/P4221148-350x233.jpg', 
        largeimage: 'http://kinh365.com/wp-content/uploads/2015/03/P4221148.jpg'}">
                                                <img src="http://kinh365.com/wp-content/uploads/2015/03/P4221148-85x57.jpg" width="96" height="64" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href='javascript:void(0);' rel="{gallery: 'gal1', 
        smallimage: 'http://kinh365.com/wp-content/uploads/2015/03/P4221149-350x233.jpg', 
        largeimage: 'http://kinh365.com/wp-content/uploads/2015/03/P4221149.jpg'}">
                                                <img src="http://kinh365.com/wp-content/uploads/2015/03/P4221149-85x57.jpg" width="96" height="64" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href='javascript:void(0);' rel="{gallery: 'gal1', 
        smallimage: 'http://kinh365.com/wp-content/uploads/2015/03/P4221150-350x233.jpg', 
        largeimage: 'http://kinh365.com/wp-content/uploads/2015/03/P4221150.jpg'}">
                                                <img src="http://kinh365.com/wp-content/uploads/2015/03/P4221150-85x57.jpg" width="96" height="64" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href='javascript:void(0);' rel="{gallery: 'gal1', 
        smallimage: 'http://kinh365.com/wp-content/uploads/2015/03/P4221155-350x233.jpg', 
        largeimage: 'http://kinh365.com/wp-content/uploads/2015/03/P4221155.jpg'}">
                                                <img src="http://kinh365.com/wp-content/uploads/2015/03/P4221155-85x57.jpg" width="96" height="64" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href='javascript:void(0);' rel="{gallery: 'gal1', 
        smallimage: 'http://kinh365.com/wp-content/uploads/2015/04/dior-toc-tien-350x233.jpeg', 
        largeimage: 'http://kinh365.com/wp-content/uploads/2015/04/dior-toc-tien.jpeg'}">
                                                <img src="http://kinh365.com/wp-content/uploads/2015/04/dior-toc-tien-85x57.jpeg" width="96" height="64" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href='javascript:void(0);' rel="{gallery: 'gal1', 
        smallimage: 'http://kinh365.com/wp-content/uploads/2015/04/P5151310-350x233.jpg', 
        largeimage: 'http://kinh365.com/wp-content/uploads/2015/04/P5151310.jpg'}">
                                                <img src="http://kinh365.com/wp-content/uploads/2015/04/P5151310-85x57.jpg" width="96" height="64" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href='javascript:void(0);' rel="{gallery: 'gal1', 
        smallimage: 'http://kinh365.com/wp-content/uploads/2015/04/P5151311-350x233.jpg', 
        largeimage: 'http://kinh365.com/wp-content/uploads/2015/04/P5151311.jpg'}">
                                                <img src="http://kinh365.com/wp-content/uploads/2015/04/P5151311-85x57.jpg" width="96" height="64" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href='javascript:void(0);' rel="{gallery: 'gal1', 
        smallimage: 'http://kinh365.com/wp-content/uploads/2015/04/P5151312-350x233.jpg', 
        largeimage: 'http://kinh365.com/wp-content/uploads/2015/04/P5151312.jpg'}">
                                                <img src="http://kinh365.com/wp-content/uploads/2015/04/P5151312-85x57.jpg" width="96" height="64" alt="" /></a>
                                        </li>
                                        <li>
                                            <a href='javascript:void(0);' rel="{gallery: 'gal1', 
        smallimage: 'http://kinh365.com/wp-content/uploads/2015/04/P5151313-350x233.jpg', 
        largeimage: 'http://kinh365.com/wp-content/uploads/2015/04/P5151313.jpg'}">
                                                <img src="http://kinh365.com/wp-content/uploads/2015/04/P5151313-85x57.jpg" width="96" height="64" alt="" /></a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="catpost" style="margin: 0 0 20px 0;padding: 0;list-style: none;padding-right: 10px;">
                                    <h3 style="border-bottom: 3px solid #CCC;padding-bottom: 5px;display: inline-block;width: 100%;font-size: 16px;font-weight: bold;line-height: 30px;">Tư vấn chọn kính</h3>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-6743">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/nhung-sai-lam-de-khien-ban-mac-phai-dai-toi-khi-di-le-chua/" rel="bookmark" title="Xem chi tiết: Những Sai lầm dễ khiến bạn mắc phải đại tội khi đi lễ chùa">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/05/2_ODXJ-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="2_ODXJ" /></span> Những Sai lầm dễ khiến bạn mắc phải đại tội khi đi lễ chùa</a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-6709">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/tac-hai-cua-anh-nang-mat-troi-doi-voi-mat/" rel="bookmark" title="Xem chi tiết: Tác hại của ánh nắng mặt trời đối với mắt">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/05/tac-hai-cua-nang-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="tac hai cua nang" /></span> Tác hại của ánh nắng mặt trời đối với mắt</a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-6699">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/su-khac-nhau-giua-con-gai-ha-noi-va-gai-sai-gon/" rel="bookmark" title="Xem chi tiết: Sự khác nhau giữa con gái Hà Nội và con gái Sài Gòn">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/05/H_7-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="H_7" /></span> Sự khác nhau giữa con gái Hà Nội và con gái Sài Gòn</a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-6679">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/lich-su-ra-doi-thuong-hieu-mat-kinh-chloe/" rel="bookmark" title="Xem chi tiết: Lịch sử ra đời thương hiệu mắt kính Chloe&#8217;">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/05/kinh-chloe-carlina-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="kinh-chloe-carlina" /></span> Lịch sử ra đời thương hiệu mắt kính Chloe&#8217;</a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-6590">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/dau-dau-viec-chon-mua-mat-kinh-hang-hieu/" rel="bookmark" title="Xem chi tiết: Đau đầu việc chọn mua mắt kính hàng hiệu">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/04/10616237_1477906515781410_5882698607895958739_n-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="10616237_1477906515781410_5882698607895958739_n" /></span> Đau đầu việc chọn mua mắt kính hàng hiệu</a>
                                        <div class="clearfix"> </div>
                                    </li>
                                </ul>
                                <div class="clearfix"> </div>
                                <ul class="catpost" style="margin:  0 0 20px 0;padding: 0;list-style: none;padding-right: 10px;">
                                    <h3 style="border-bottom: 3px solid #CCC;padding-bottom: 5px;display: inline-block;width: 100%;font-size: 16px;font-weight: bold;line-height: 30px;">Mắt kính mới về</h3>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-1353">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-celine-nu/" rel="bookmark" title="Xem chi tiết: Kính Celine Meo Meo MS148">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="56" src="http://kinh365.com/wp-content/uploads/2014/05/P5280239-85x56.jpg" class="attachment-thumbnail wp-post-image" alt="OLYMPUS DIGITAL CAMERA" /></span> Kính Celine Meo Meo MS148
                                            <br/> Giá bán:<span style="color: #EC0000;">    1,250,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-3584">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-dior-toc-tien/" rel="bookmark" title="Xem chi tiết: Kính Dior Tóc Tiên MS018">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/03/P4221145-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="OLYMPUS DIGITAL CAMERA" /></span> Kính Dior Tóc Tiên MS018
                                            <br/> Giá bán:<span style="color: #EC0000;">    1,050,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-5146">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-chloe-nha-phuong/" rel="bookmark" title="Xem chi tiết: Kính Chloe Thoại Tiên MS020">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/03/P5131284-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="" /></span> Kính Chloe Thoại Tiên MS020
                                            <br/> Giá bán:<span style="color: #EC0000;">    1,200,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-6632">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-thom-browne-dj-tit-ms206/" rel="bookmark" title="Xem chi tiết: Kính Thom Browne DJ Tít MS206">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/05/kinh-dj-tit1-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="kinh-dj-tit" /></span> Kính Thom Browne DJ Tít MS206
                                            <br/> Giá bán:<span style="color: #EC0000;">    1,350,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-1340">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/chanel-julia-ho/" rel="bookmark" title="Xem chi tiết: Kính Chanel Julia Hồ MS135">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2014/06/kinh-chanel-julia-ho-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="kinh-chanel-julia-ho" /></span> Kính Chanel Julia Hồ MS135
                                            <br/> Giá bán:<span style="color: #EC0000;">    900,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-1400">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/rayban-trang-guong/" rel="bookmark" title="Xem chi tiết: Kính Rayban tráng gương MS178">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2014/05/kinh-rayban-chinh-hang-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="kinh-rayban-chinh-hang" /></span> Kính Rayban tráng gương MS178
                                            <br/> Giá bán:<span style="color: #EC0000;">    700,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-6540">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-louis-vuitton-ky-duyen-ms204/" rel="bookmark" title="Xem chi tiết: Kính Louis Vuitton Kỳ Duyên MS204">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/05/mat-kinh-hang-hieu1-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="mat kinh chinh hang" /></span> Kính Louis Vuitton Kỳ Duyên MS204
                                            <br/> Giá bán:<span style="color: #EC0000;">    1,000,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-3729">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-miu-miu-mix-2-mau/" rel="bookmark" title="Xem chi tiết: Kính Miu Miu 2 màu MS100">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2014/12/P5071203-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="mắt kính miu miu" /></span> Kính Miu Miu 2 màu MS100
                                            <br/> Giá bán:<span style="color: #EC0000;">    950,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-4923">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-marc-jacobs-miu-le/" rel="bookmark" title="Xem chi tiết: Kính Marc Jacobs Trang Phi MS030">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/03/P5071243-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="marc jacobs" /></span> Kính Marc Jacobs Trang Phi MS030
                                            <br/> Giá bán:<span style="color: #EC0000;">    1,150,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-6443">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-louis-vuitton-meo-meo-ms202/" rel="bookmark" title="Xem chi tiết: Kính Louis Vuitton Meo Meo MS202">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/05/11178219_10206532610093176_1968056856370508165_n-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="11178219_10206532610093176_1968056856370508165_n" /></span> Kính Louis Vuitton Meo Meo MS202
                                            <br/> Giá bán:<span style="color: #EC0000;">    1,050,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-3917">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-han-quoc-je/" rel="bookmark" title="Xem chi tiết: Kính Hàn quốc Numero MS091">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2014/12/kính-numero-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="kính numero" /></span> Kính Hàn quốc Numero MS091
                                            <br/> Giá bán:<span style="color: #EC0000;">    999,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-3535">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-chrome-hearts-nu-hoang/" rel="bookmark" title="Xem chi tiết: Kính Chrome Hearts MS110">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/04/P5071218-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="kinh chrome heart" /></span> Kính Chrome Hearts MS110
                                            <br/> Giá bán:<span style="color: #EC0000;">    1,250,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-3468">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-dior-hoa-noi-huyen-baby/" rel="bookmark" title="Xem chi tiết: Kính Dior Huyền Baby MS019">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/04/P5071211-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="mat kinh dior" /></span> Kính Dior Huyền Baby MS019
                                            <br/> Giá bán:<span style="color: #EC0000;">    1,050,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-4221">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-dior-lee-balan/" rel="bookmark" title="Xem chi tiết: Kính Dior Lee Balan MS021">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="57" src="http://kinh365.com/wp-content/uploads/2015/04/P5071231-85x57.jpg" class="attachment-thumbnail wp-post-image" alt="kinh dior so electric" /></span> Kính Dior Lee Balan MS021
                                            <br/> Giá bán:<span style="color: #EC0000;">    1,050,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                    <li style="padding: 5px 0;width: 300px;border-bottom: 1px solid #ccc;" class="toppost" id="post-1819">
                                        <a style="font-weight: none;" class="toptitle" href="http://kinh365.com/kinh-lv-tra-ngoc-hang/" rel="bookmark" title="Xem chi tiết: Kính LV Trà Ngọc Hằng MS132">
                                            <span style="width: 85px;height: 85px;overflow: hidden;display: block;float: left;margin-right: 10px;">
<img width="85" height="56" src="http://kinh365.com/wp-content/uploads/2014/04/P5260135-85x56.jpg" class="attachment-thumbnail wp-post-image" alt="OLYMPUS DIGITAL CAMERA" /></span> Kính LV Trà Ngọc Hằng MS132
                                            <br/> Giá bán:<span style="color: #EC0000;">    899,000 VND</span>
                                        </a>
                                        <div class="clearfix"> </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-thecontent">
                                <div class="postleft-content">
                                    <h1 class="entry-title">Kính Dior Tóc Tiên MS018        <span class="post-theprice" style="float: right; background: none repeat scroll 0% 0% #c11515; padding: 0px 25px; margin-top: -5px; line-height: 48px;">   1,050,000 VND</span>
        </h1>
                                    <p>Mẫu mắt kính này được sản xuất tại HongKong theo những đơn hàng đặc biệt xuất đi thị trường châu Âu, shop chỉ về được hơn 20 cây nên số lượng có hạn. Hàng chuẩn Auth 99%, fullbox đầy đủ bao hộp, phụ kiện, khăn lau như hình chụp thật sản phẩm bên dưới.</p>
                                    <p>Hiện tại trên thị trường có nhiều chủng loại sản phẩm mẫu mã tương tự được bán với nhiều mức giá khác nhau, shop xin giải thích lý do vì cùng mẫu mã nhưng không phải sản xuất cùng 1 chỗ mà ở nhiều nhà máy theo những đơn đặt hàng, vì vậy khách hàng nên chọn lựa những shop uy tín để mua hàng đảm bảo chất lượng, tiền nào của nấy, tránh ham rẻ để gặp phải sự phiền lòng.</p>
                                    <p>Shop Kinh365.com mình bán hàng hơn 3 năm rồi, nhận được sự ủng hộ của nhiều ngôi sao, diễn viên, ca sỹ, người mẫu, hotgirl và vài nghìn khách yêu từ mọi miền đất nước. Mấy anh chị nổi tiếng nên dùng hàng rất kỹ tính mà dùng sản phẩm của shop đều rất ưng về chất lượng. Kinh doanh buôn bán lấy chữ tín và sự hài lòng của khách làm mục tiêu tồn tại nên shop cam kết luôn phục vụ chu đáo nhất cho khách hàng. Các bạn có thể xem thêm thông tin tại mục <a href="http://kinh365.com/phan-hoi-tu-khach-hang/">Khách hàng Feedback</a> và <a href="http://kinh365.com/album-khach-hang/">Album khách hàng</a> để tham khảo thêm.</p>
                                    <p><strong>CAM KẾT CỦA SHOP:</strong>
                                        <br />
                                        <strong>1. Chỉ bán 1 loại mắt kính duy nhất, đó là loại đẹp nhất, tốt nhất.</strong>
                                        <br />
                                        <strong>2. Ảnh shop tự tay chụp. Hàng luôn có sẵn.</strong>
                                        <br />
                                        <strong>3. Tư vấn tận tình, chu đáo. Giao hàng nhanh chóng.</strong>
                                        <br />
                                        <strong>4. Thị trường có mẫu nào hot, là shop có mẫu đó.</strong></p>
                                    <p>Việc mua hàng online giờ cũng khá đơn giản nên các bạn cứ xem mẫu kính, ưng mẫu nào thì báo lại shop. Hoặc nếu thích nhiều mẫu mà chưa biết chọn cái nào thì có thể liên hệ để shop tư vấn cho hợp khuôn mặt, hợp phong cách và các xu hướng mới nhất.</p>
                                    <p><strong>THÔNG TIN LIÊN HỆ:</strong>
                                        <br />
                                        <b>Call/SMS/Viber/Zalo: <span style="color: #b01946;">0993.365.365 &#8211; 0995.365.365</span></b>
                                        <br />
                                        <strong>Facebook :<a href="http://facebook.com/nuhoangkinh1991"> Nữ Hoàng Kính</a></strong>
                                        <br />
                                        <strong>Website: <a href="http://www.kinh365.com/">www.kinh365.com</a></strong>
                                        <br />
                                        <strong>Kho hàng: 1D Quốc Tử Giám, HN &amp; 177 Phan Xích Long, HCM</strong></p>
                                    <p>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/03/P4221145.jpg"><img class="aligncenter size-full wp-image-6205" src="http://kinh365.com/wp-content/uploads/2015/03/P4221145.jpg" alt="OLYMPUS DIGITAL CAMERA" width="3648" height="2432" /></a>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/03/P4221148.jpg"><img class="aligncenter size-full wp-image-6206" src="http://kinh365.com/wp-content/uploads/2015/03/P4221148.jpg" alt="OLYMPUS DIGITAL CAMERA" width="3648" height="2432" /></a>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/03/P4221149.jpg"><img class="aligncenter size-full wp-image-6207" src="http://kinh365.com/wp-content/uploads/2015/03/P4221149.jpg" alt="OLYMPUS DIGITAL CAMERA" width="3648" height="2432" /></a>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/03/P4221150.jpg"><img class="aligncenter size-full wp-image-6208" src="http://kinh365.com/wp-content/uploads/2015/03/P4221150.jpg" alt="OLYMPUS DIGITAL CAMERA" width="3648" height="2432" /></a>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/03/P4221155.jpg"><img class="aligncenter size-full wp-image-6209" src="http://kinh365.com/wp-content/uploads/2015/03/P4221155.jpg" alt="OLYMPUS DIGITAL CAMERA" width="3648" height="2432" /></a>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/04/dior-toc-tien.jpeg"><img class="alignnone size-full wp-image-6246" src="http://kinh365.com/wp-content/uploads/2015/04/dior-toc-tien.jpeg" alt="dior toc tien" width="960" height="640" /></a>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/03/mat-kinh-dior-toc-tien.jpg"><img class="alignnone size-full wp-image-5251" src="http://kinh365.com/wp-content/uploads/2015/03/mat-kinh-dior-toc-tien.jpg" alt="mat kinh dior toc tien" width="640" height="427" /></a>
                                    </p>
                                    <p>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/04/P5151310.jpg"><img class="size-full wp-image-6674" src="http://kinh365.com/wp-content/uploads/2015/04/P5151310.jpg" alt="OLYMPUS DIGITAL CAMERA" width="1200" height="800" /></a>
                                    </p>
                                    <p>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/04/P5151311.jpg"><img class="size-full wp-image-6675" src="http://kinh365.com/wp-content/uploads/2015/04/P5151311.jpg" alt="OLYMPUS DIGITAL CAMERA" width="1200" height="800" /></a>
                                    </p>
                                    <p>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/04/P5151312.jpg"><img class="size-full wp-image-6676" src="http://kinh365.com/wp-content/uploads/2015/04/P5151312.jpg" alt="OLYMPUS DIGITAL CAMERA" width="1200" height="800" /></a>
                                    </p>
                                    <p>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/04/P5151313.jpg"><img class="size-full wp-image-6677" src="http://kinh365.com/wp-content/uploads/2015/04/P5151313.jpg" alt="OLYMPUS DIGITAL CAMERA" width="1200" height="800" /></a>
                                    </p>
                                    <p>
                                        <a href="http://kinh365.com/wp-content/uploads/2015/05/phi-huyen-trang.jpg"> </a>
                                    </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <a href="#">
                                <img border="0" id="ads_zone221_banner201298" src="http://kinh365.com/wp-content/themes/taylorvn/images/1.jpg" width="978" height="auto"></a>
                        </div>
                </div>
                <!-- .entry-content -->
                <div class="clearfix"></div>
                </article>
                <!-- #post-3584 -->
                <div class="clearfix"></div>
            </div>
            <!-- #content -->
        </div>
        <!-- #primary -->
    </div>
    <!-- #main -->
    </div>
    <!-- #page -->
<footer id="colophon" role="contentinfo">
        <div id="supplementary" class="three">
            <div id="first" class="widget-area" role="complementary">
                <aside id="meta-3" class="widget widget_meta">
                    <h3 class="widget-title"><b>MATKINHRAYBAN.COM - MẮT KÍNH HÀNG HIỆU - Ở ĐÂU RẺ NHẤT Ở ĐÂY RẺ HƠN</b></h3>
                    <h3 class="widget-title">Call/Viber/Zalo: 0905 25 1968 Gặp Hưng or 0989686799 Gặp Chị Trúc | Facebook: <a href="http://facebook.com">Mắt kính RayBan</a></h3>
                    <h3 class="widget-title">Cơ sở 1: 32B Lý Thánh Tôn - Cơ sở 2: 8B Biệt Thự, Nha Trang, Khánh Hòa</h3>
                    <h3 class="widget-title">Copyright ©2015 MatKinhRayBan.Com. All Rights Reserved</h3>
                </aside>
            </div>
            
            
        </div>
        <!-- #third .widget-area -->
        
    </footer>
    <!-- #colophon -->
</body>

</html>
